@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.post-content p,
.post-content ul {
  margin: 1.5rem 0;
}

.post-content  ul {
  padding-left: 1.5rem;
}

.post-content li {
  margin: 0.5rem 0;
}

.post-content pre {
  background-color: #323238;
  border-radius: 0.2rem;

  padding: 1rem;
  margin: 1rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-right: 10px;
}

::-webkit-scrollbar-corner {
  border: none;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #3d3c42;
  border-radius: 3px;
  cursor: move;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}
